.body {
  font-family: "Arial", serif;
}
#groups {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.group_title {
  text-align: center;
  font-size: 40px;
}

.group_div {
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
}

.player {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid black;
}

#button_div {
  margin-top: 20px;
  text-align: center;

}

#game_button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#game_button:hover {
  background-color: grey;
}

.player_name {
  width: 40%;
  display: inline-block;
}

.wins {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.losses {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

.scoring {
  display: inline-block;
}

#question_div {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#game_title {
  margin-top: 40px;
  text-align: center;
  font-size: 60px;
}

#player_match {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
}

.player_points {
  display: inline-block;
  margin-left: 20%;
}
